html,
body {
  width: 95vw;
  /* display: flex; */
  /* justify-content: center; */
  margin: auto;
}

body {
  background: radial-gradient(
    ellipse at bottom,
    #1b2735 0%,
    #090a0f 100%
  ) !important;
  height: 100% !important;
}

.section {
  margin-top: 2rem;
}

.eduLogo {
  display: flex;
  align-items: center;
}

/* .vertical-timeline-element-content {
  background-color: #2d3748;
} */

/* .shadowThis {
  box-shadow: 33px 21px 176px -35px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 33px 21px 176px -35px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 33px 21px 176px -35px rgba(0, 0, 0, 0.75);
} */

.social-icon:hover {
  color: antiquewhite;
}
